.first-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0px 20px 80px 20px;
}

.first-section .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 50px 8px 50px;
}

.header p{
    font-size: 24px;
    color: #F9FAF8;
}

.left-first h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.left-first p {
    font-size: 18px;
    color: #E5E7EB;
}

.left-first button {
    border: 0px solid #F9FAF8;
    border-radius: 10px;
    padding: 7px 20px;
    background-color: #3882F6;
    color:#F9FAF8;
    width: 125px;
    font-size: 20px;
    font-weight: 700;
}

.header ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

.header li {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.content-first {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 50px;
}

.right-first img {
    display: flex;
    width: 500px;
    height: 250px;
    border: 3px solid black;
    border-radius: 25px;
}

body {
    font-family: "roboto", Arial, sans-serif;
}

.second-section p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin: 0px 100px 100px 100px;
}

.cards img {
    width: 180px;
    height: 180px;
    border: 3px solid #3882F6;
    border-radius: 25px;
}

.ind-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card-text {
    font-size: 18px;
    color: #1F2937
}

.third-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.third-section #name {
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    color:#1F2937;
    font-weight: 700;
    font-size: 24px;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #3882F6;
    margin: 100px;
    padding: 50px 100px;
    border: 0px;
    border-radius: 25px;
}

.container .text {
    display: flex;
    flex-direction: column;
}

.ctatop, .ctabottom {
    color: #F9FAF8;
}

.ctatop {
    font-size: 36px;
    font-weight: 700;
}

.ctabottom {
    font-size: 18px;
}

.container .cta {
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3882F6;
    color:#F9FAF8;
    width: 150px;
    font-size: 20px;
    font-weight: 700;
}

.footer {
    background-color: #1F2937;
    color:#F9FAF8;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;   
}